.article-page {

  padding: 16px 0;

  h1,
  h2,
  h3 {
    color: $kitkat-red;
  }

  p {
    @extend .b2;

    span {
      font-weight: bold;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      border-bottom: 1px solid $light-grey;
      padding: 20px 10px 20px 0px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
