// primary colors
$kitkat-red : #C40018;
$dark-red: #861723;
$white: #fff;
$black: #000;

// secondary colors
$grey: #D2D2D2;
$light-grey: #F4F4F4;
$dark-grey: #8F8F8F;

// fonts
$avenir-black : 'Avenir-Black','Nunito Sans', sans-serif;
$avenir-roman : 'Avenir-Roman','Montserrat', sans-serif;
$parkside : 'Parkside-Light','Oleo Script Swash Caps', cursive;
$din-next-stencil-ult-light : 'DIN-Next-Stencil-W05-Ult-Light','Parkside-Light','Oleo Script Swash Caps', cursive;
$gutter : 40px;
