//body copy styles

.b1,
.b2,
.b3 {
  font-family: $avenir-roman;
}

.b1 {
  font-size: 21px;
  line-height: 30px;
}

.b2 {
  font-size: 17px;
  line-height: 24px;
}

.b3 {
  font-size: 14px;
  line-height: 19px;
}
